flask
kafka-python
numpy
opencv-python
ultralytics
boto3
python-dotenv
botocore
azure-storage-file-datalake
matplotlib
geopandas
shapely
pandas
contextily
streamlit
plotly
cassandra-driver
scipy
pydeck